<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h1>Create New Department</h1>
    <br><br>

    <div class="container">
        <form method="POST" th:action="@{/addnew}" th:object="${department}">

            <div class="mb-3">
                <label for="Department Code" class="form-label">Department Code</label>
                <input type="text" class="form-control" name="code" data-th-field="*{code}">
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>

            <div class="mb-3">
                <label for="Name" class="form-label">Department Name</label>
                <input type="text" class="form-control" name="name" data-th-field="*{name}">
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <div class="mb-3">
                <label for="Number of teachers" class="form-label">Number of teachers</label>
                <input type="number" class="form-control" name="teachers" data-th-field="*{teachers}">
            </div>
            <div class="alert alert-danger" data-th-if="${#fields.hasErrors('teachers')}" th:errors="*{teachers}"></div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

        <br><br>
        <a th:href="@{/}">Back to department list</a>
    </div>
    
</body>

</html>